body {
    /* background-color: #222227; */
    background-color: #394048;
    font-family: 'Roboto', sans-serif;
}

input[type='checkbox'] {
    width:20px;
    height:20px;
    background:white;
    border-radius:10px;
    border:2px solid #555;
}

thead{
    border-radius:  7px;
}

#logo {
    height: 15rem;
}

#index_form {
    font-weight: bold;
    background-color: white;
    margin: auto;
    box-shadow: lightgray 1px 1px 10px;
}

#index_button {
    background-color: #2a727a;
}

#op_titulo {
    color: white;
}

#op_card {
    background-color: black;
}

#op_card_body {
    background-color: lightgrey;
}

/*Placeholder color*/
.form-control::-webkit-input-placeholder { color: #bebebe; }

/*Components Colors*/
select, .input-group-prepend, .input-group-text{
    border-color: grey;
    background-color: white;
}
input{
    border-color: grey;
    background-color: white;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 4px;
    width: 4px;
    border: 1px solid #d5d5d5;
}
  
::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

/*NAVBAR*/
.dropbtn {
    color: white;
    padding: 8px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/**.dropdown-content a:hover {background-color: ;}**/

.dropdown:hover .dropdown-content {display: flex;}

/**.dropdown:hover .dropbtn {background-color: ;}**/

.navbar-brand{
    cursor: pointer;
}
#nav-title{
    color: white;
    background-color: #2a727a;
    padding: 0rem 1rem;
    border-radius: 3px;
}
.nav-link{
    cursor: pointer;
    border-radius: 10px;
}
.nav-link:hover{
    background-color: #0b091c;
}
.seleccionado{
    background-color: #0b091c;
    font-weight: bold;
}

.importante{
  color: orangered;
  font-weight: bold;
}

.bg-importante{
    background: orangered;
}

.general{
  color: #007BFF;
  font-weight: bold;
}

.administrador{
  background-color: #222227;
}

.admin{
  color: white;
  font-weight: bold;
}

table.scroll {
    /*width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}

nav.fixed{
  position: fixed;
}

/*TABLAS VENTA*/
.table-wrapper
{
    width: 290px;
    height: 350px;
    overflow: auto;
}
.table-wrapper-productos{
    width: 290px;
    height: 420px;
    overflow: auto;
}
/*CCM*/
.table-wrapper-ccm{
    width: 315px;
    height: 440px;
    overflow: auto;
}

/*Tabla compra*/
.table-wrapper-compra
{
    height: 380px;
    overflow: auto;
}

/*xs*/
/*En esta medida toma lo que esta en el css por default*/
/*sm*/
@media (min-width: 300px) {
    /*TABLAS VENTA*/
    .table-wrapper
    {
        width: 340px;
        height: 350px;
        overflow: auto;
    }
    .table-wrapper-productos{
        width: 340px;
        height: 420px;
        overflow: auto;
    }
}
/*iPhone 6 Plus*/
@media (min-width: 377px) {
    /*TABLAS VENTA*/
    .table-wrapper
    {
        width: 376px;
        height: 350px;
        overflow: auto;
    }
    .table-wrapper-productos{
        width: 376px;
        height: 420px;
        overflow: auto;
    }
    /*CCM*/
    .table-wrapper-ccm{
        width: 705px;
        height: 440px;
        overflow: auto;
    }
}
/*md*/
@media (min-width: 768px) {
    /*TABLAS VENTA*/
    .table-wrapper
    {
        width: 736px;
        height: 350px;
        overflow: auto;
    }
    .table-wrapper-productos{
        width: 736px;
        height: 420px;
        overflow: auto;
    }
}
/*lg*/
@media (min-width: 992px) {
    /*TABLAS VENTA*/
    .table-wrapper
    {
        width: 416px;
        height: 350px;
        overflow: auto;
    }
    .table-wrapper-productos{
        width: 645px;
        height: 420px;
        overflow: auto;
    }
    .contenedor{
        position: relative;
        top: 80px;
        }
}

/*xl*/
@media (min-width: 1200px) {
    /*TABLAS VENTA*/
    .table-wrapper
    {
        width: 536px;
        height: 350px;
        overflow: auto;
    }
    .table-wrapper-productos{
        width: 765px;
        height: 420px;
        overflow: auto;
    }
    /*CCM*/
    .table-wrapper-ccm{
        width: 395px;
        height: 440px;
        overflow: auto;
    }
    .contenedor{
    position: relative;
    top: 80px;
    }
}

/*Siempre mostrar la scrollbar en las tablas*/
.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
